* {
  margin: 0;
}
header {
  background-color: rgb(77, 54, 209);
  color: white;
  padding-top: 5px;
 }
h1{
  position: relative;
  margin-top: auto;
  margin-left: 5%;
  display: flex;
  text-align: center;
}

body {
    background-color: rgb(193, 204, 239);
}
section {
    display:flex;
    width: auto;
    height:400px;
    margin: 0 auto;
  }
  
  section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.6;
    transition: 0.7s ease;
  }
  
  section img:hover {
    cursor: pointer;
    width: 400px;
    opacity: 1;
    filter: contrast(120%)
  }

  .ingredients {
    border: 2px solid blue;
    width: 500px;
    border-radius: 20px;
    box-shadow: blue 5px 5px 5px;
    height: 500px;
    margin-left: 35%;
    margin-bottom: 10%;
  }

  .container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 30px 30px; 
    grid-template-areas: 
      ". ."
      ". ."; 
  }

  .time {
    border: 2px solid blue;
    width: 250px;
    height: 300px;
    border-radius: 20px;
    box-shadow: blue 5px 5px 5px;
    margin-left: 35%;
  }
    
  #countdown {
  background-color: aliceblue;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  height: 70px;
  width: 200px;
  border: 1px solid blue;
  margin-top: 35%;
  }

  .preparation {
    border: 2px solid blue;
    width: 500px;
    border-radius: 20px;
    box-shadow: blue 5px 5px 5px;
    height: 500px;
    margin-left: 35%;
    margin-bottom: 10%;
   }

   .name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2% ;
    margin-left: 5%;
   }

   p {
    margin-left: 10%;
    margin-right: 5%;
   }
  
   h2 {
       text-align: center;
   }

   h3 {
    padding-top: 2%;
    text-align: center;
    color: white;
   }

   footer {
    background-color: rgb(77, 54, 209);
   }